body{
    background-color: black;
    font-family:monospace;
    color: silver;
    text-align: center;
}
h1{
    font-size: 10mm;
    position: absolute;
    margin: 0;
    bottom: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.Box_starter{
    font-size: 20mm;
    display: Absolute;
    text-align: center;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    font-size: 10mm;
    border-style: solid;
    border-radius: 30px;
    border-color: wheat;
    background-image: url("bg-cassio.jpg");
    background-size: 800px;
}
.AH{
    position: absolute;
    margin: 0;
    bottom: 15%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.colorized{
    background-color: red;
}
.green{
    background-color: green;
}

/* Couldown AH
0,75	0
0,68	10
0,63	20
0,58	30
0,54	40
0,5	    50
0,47	60
0,44	70
0,42	80
0,39	90
0,38	100 */